################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# Compiled Python modules
*.pyc

# Images
*.png

# Data files
data/*
*.txt

# config files
*.ini

# Ipython notebook checkpoint files
*/.ipynb_checkpoints/*
