<html>
<head>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous"></link>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300'
              rel='stylesheet' type='text/css'></link>
        <script src="http://code.jquery.com/jquery-2.2.0.min.js" ></script>
        <link rel="stylesheet" href="static/default.css">
</head>

<body>

<div id="myMenu">
  <div class="myWrapper">
    <nav>
    <a href="/"><img src="static/logo.png" height="63" width="130" /></a>
    </nav>
  </div>
</div>

<header><h1>Smart Review Summarization</h1></header>

<div id="main_section" style="width:600px; margin:0 auto;">
	<form name="input_form"
	      id="input_form"
	      action=""
	      method="POST"
	      enctype="multipart/form-data"
	      >

	    <div class="form-group" id="input1">
	        <label for="product_id">&nbsp Product ID:</label><br>
		    <center>
		        <input name="product_id"
		               id="product_id"
		               type="text"
		               size="58"
		               placeholder="B00HZE2PYI" />
		               &nbsp
	           	<button id="addInput2"> + </button>
   			</center>
	    </div> 
	    <div class="form-group" id="input2" style="display:none;">
	        <label for="product_id">&nbsp Product 2 ID:</label><br>
		    <center>
		        <input name="product_id2"
		               id="product_id2"
		               type="text"
		               size="58"
		               placeholder="B00HZE2PYI" />
		               &nbsp
	           	<button id="hideInput2"> - </button>
   			</center>
	    </div> 

	    <center>
	    	<input type="submit" name="Summarize" id="Summarize"  value="Summarize" class="btn btn-default"/>
		</center>

	</form>

	<div class="loader" id="loader1" style="display:none;"></div>
	<!-- <div id="loader1"> <img src="static/loader.gif" style="display:none;"></div> -->
	<div id="progress"></div>
    <div id="result"><a id="resultLink" href=""></a></div>


</div>
<script src="static/run.js"></script>



<footer>
<a href="mailto:srs2016@gmail.com">Contact us</a>
</footer>
</body>
</html>