#outer {
    background: #eee;
}

#result {
    height: 100px;
    background: white;
    border-radius: 10px;
    border-style: 1px solid rgba(0,0,0,1);
}

.content {
    display: flex;
    padding: 10px;
}

.new-jobs {
    background: rgba(0,0,0,0.05);
    padding: 10px;
    flex-grow: 1;
}

.recent-jobs {
    background: rgba(0,0,0,0.05);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 1px solid black;
    width: 30%;
}

.recent-jobs table {
    margin-top: 30px;
}

.recent-jobs table tr{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.recent-jobs table td {
    padding: 5px;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}

.recent-jobs table span {
    display: table;
    margin: 0 auto;
}

.btn-primary {
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.btn-primary:hover {
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

header {
    padding-top:0px;
    padding-bottom:10px;
    text-align: center;
}

h2{
    padding-top:30px;
    padding-bottom:0px;
    text-align: center;
    margin: auto;
}


#main_section {
    padding:20px;
    padding-top:35px;
    padding-left: 35px;
    padding-right:35px;
    padding-bottom: 90px
}

footer {
    text-align: center;
    padding: 5px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 28pt;
}

label{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 15.5pt; 
    text-align: left  
}

th, input, span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14pt;   
}


a:hover {
    text-decoration: none;
}

input {
    font-size: 14pt;
    height:38px;
}

#Summarize {
    width:350px;
    height:40px;
    margin-right:20px;
    font-size: 14pt;
}

#myMenu
{
    width: 100%;
    height: 60px;
    z-index: 999; 
    background-color: #D3D3D3;

}
.myWrapper
{
    max-width: 660px;
    margin: 0 auto;
}

.logo
{
    display: inline-block;
    width: 132px;
    height: 63px;
        margin-top: 5px;
        background-size: auto 143px;
    background-image: url(static/logo.png);
    background-repeat: no-repeat;
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #333333;
    opacity: 0.5;
}
#loader {
    display: block;
    position: relative;
    left: 51%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}


/*Navigation Bar */ 
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #202020;*/
    background-image: url("../static/images/gradient_backgrd.jpg");
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;

}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

