h1 {
    margin: 20px auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

h2{
  background-image: url("../static/images/gradient_backgrd.jpg");
  padding-top: 10px;
  width: 100%;
}

p {
  padding-bottom: 3px;
  margin: 1px;
  font-family: 'Roboto Condensed', sans-serif;
}

.legend {
  padding-left: 100px;
}
.legend_text {
    width: 500px;
    padding-left: 25px;
}

.box {
    width: 20px;
    height: 20px;
    background-color: #4286F5;
    margin: 0px 10px 10px 0px;
}

#AspectsPlot {
	padding-left: 40px;
	float:left;
  width: 50%;
}
#sidebar {
  padding-top: 40px;
  padding-left: 50px;
  width: 40%;
	float:left;
}

#histPlotTitle p {
  display:inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

#oneAspectsPlot {
  float:left;
}

#sample_reviews h3{
  
  float:left;
	font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  display:inline-block;
  border-bottom: 1px solid black;
}

#sample_reviews p{
  padding-top: 10px;
  width: 100%;
  float:left;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
}


/*Navigation Bar */ 
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../static/images/gradient_backgrd.jpg");
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

